@if $theme-pack == "popular" {
body[data-th-main="pony"] {
	--themeName: "Rosé Pine";
	--bg-300: #393552;
	--bg-400: #2a273f;
	--bg: #232136;
	--bg-visiting: #e0def4;
	--bg-visiting-hover:#f5f4ff;
	--bg-editing: #c4a7e7;
	--bg-editing-hover: #e0c8fc;
	--base-text: #e0def4;
	--base-text-hover: #f5f4ff;
	--base-text-faded: #e0def47a;
	--base-link: #ebbcba;
	--base-link-hover: #f7dbda;
	--header-link: #e0def4;
	--header-link-hover: #f5f4ff;
	--content-link:#c4a7e7;
	--content-link-hover:#c4a7e7;
	--header-link-visiting: #38232b;
	--header-link-editing: #462c34;
	--header-link-editing-hover: #38232b;
	--nav-hover-top-color:#e0def4;
	--nav-hover-bottom-color: #e0def4;
	--bg-image: #38232e;
	--deleted-bg: #232136;
	--deleted-text: #56526e;
	--blacklisted-bg: #36212a;
	--blacklisted-text: #eb6f92;
	/*--bg-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
	--actions-fav-true:#a87abe;
	--flagged: #eb6f92;
	--elements-highlight: #c4a7e7;
	--mode-edit:#534738;
	--mode-add-fav:#36583a;
	--mode-remove-fav:#583636;
	--mode-blacklist:#171c22;
	--mode-download: #553658;
	--mode-fullscreen: #365857;
	--tag-cat-0:#ebbcba;
	--tag-cat-0-hover:#f7dbda;
	--tag-cat-1:#f6c177;
	--tag-cat-1-hover:#fed9a4;
	--tag-cat-2: #c0c0c0;
	--tag-cat-2-hover: #71706e;
	--tag-cat-3:#9ccfd8;
	--tag-cat-3-hover:#c3edf4;
	--tag-cat-4:#45d07a;
	--tag-cat-4-hover:#6aec9c;
	--tag-cat-5:#f6f677;
	--tag-cat-5-hover:#ffffa8;
	--tag-cat-6:#eb6f92;
	--tag-cat-6-hover:#ff91b0;
	--tag-cat-7:#f4def1;
	--tag-cat-7-hover:#fff4fd;
	--tag-cat-8: #9cd8a9;
	--tag-cat-8-hover: #bef0c9;
	--user-member: var(--base-text);
	--user-member-hover: var(--base-text-hover);
	--user-privileged: #93c190;
	--user-privileged-hover: #b0e7ad;
	--user-contributor: #45d07a;
	--user-contributor-hover: #6aec9c;
	--user-admin:#f6c177;
	--user-admin-hover: #fed9a4;
	--user-moderator:#9ccfd8;
	--user-moderator-hover: #c3edf4;
	--user-former-staff: #6cd5aa;
	--user-former-staff-hover: #7ff7c6;
	--user-janitor: #9ccfd8;
	--user-janitor-hover: #c3edf4;
	--user-banned: #eb6f92;
	--user-banned-hover: #fa92af;
	--favorite-button: #6cbd75;
	--favorite-button-hover: #9effaa;
	--remove-favorite: #eb6f92;
	--remove-favorite-hover: #cd708a;
	--warn-button: #cd974c;
	--warn-button-hover: #f4ca91;
	--button-color: #232e38;
	--button-color-hover: #2c3946;
	--button-text: #c3ccd4;
	--button-text-hover: #c3ccd4;
	--button-text-hover-secondary: #f5f4ff;
}
}
