body[data-th-main="hotdog"] {
	--themeName: "Gruvbox";
	--bg-300: #47403d;
	--bg-400: #3c3836;
	--bg: #32302f;
	--bg-visiting: #ebdbb2;
	--bg-visiting-hover:#fbf1c7;
	--bg-editing: #a76b7b;
	--bg-editing-hover: #d3869b
	--base-text: #ebdbb2;
	--base-text-hover: #fbf1c7;
	--base-text-faded: #ebdbb27a;
	--base-link: #a0c1c2;
	--base-link-hover: #c0e1e2;
	--header-link: #ebdbb2;
	--header-link-hover: #fbf1c7;
	--content-link: #a0c1c2;
	--content-link-hover: #c0e1e2;
	--header-link-visiting: #32302f;
	--header-link-editing: #32302f;
	--header-link-editing-hover: #47403d;
	--nav-hover-top-color:#ebdbb2;
	--nav-hover-bottom-color: #ebdbb2;
	--bg-image: #38232e;
	--deleted-bg: #302c2b;
	--deleted-text: #665c54;
	--blacklisted-bg: #7d0004;
	--blacklisted-text: #e5918c;
	/*--bg-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
	--actions-fav-true:#d3869b;
	--flagged: #c83a29;
	--elements-highlight: #fabd2f;
	--mode-edit:#534738;
	--mode-add-fav:#36583a;
	--mode-remove-fav:#583636;
	--mode-blacklist:#171c22;
	--mode-download: #553658;
	--mode-fullscreen: #365857;
	--tag-cat-1:#ebdbb2;
	--tag-cat-1-hover:#fbf1c7;
	--tag-cat-2:#fe8019;
	--tag-cat-2-hover:#ffa861;
	--tag-cat-3:#83a598;
	--tag-cat-3-hover:#aaccbf;
	--tag-cat-4:#8ec07c;
	--tag-cat-4-hover:#b3e3a1;
	--tag-cat-5:#fabd2f;
	--tag-cat-5-hover:#ffd46f;
	--tag-cat-6:#fb4934;
	--tag-cat-6-hover:#ff7f70;
	--tag-cat-7:#f9f5d7;
	--tag-cat-7-hover:#fffce7;
	--tag-cat-8: #b8bb26;
	--tag-cat-8-hover: #d3d642;
	--user-member: var(--base-text);
	--user-member-hover: var(--base-text-hover);
	--user-privileged: #8ec07c;
	--user-privileged-hover: #b3e3a1;
	--user-contributor: #8ec07c;
	--user-contributor-hover: #b3e3a1;
	--user-admin:#fe8019;
	--user-admin-hover: #ffa861;
	--user-moderator:#83a598;
	--user-moderator-hover: #aaccbf;
	--user-former-staff: #fabd2f;
	--user-former-staff-hover: #ffd46f;
	--user-janitor: #83a598;
	--user-janitor-hover: #aaccbf;
	--user-banned: #fb4934;
	--user-banned-hover: #ff7f70;
	--favorite-button: #98971a;
	--favorite-button-hover: #b4b33e;
	--remove-favorite: #cc241d;
	--remove-favorite-hover: #d34741;
	--warn-button: #d65d0e;
	--warn-button-hover: #e07733;
	--button-color: #232e38;
	--button-color-hover: #2c3946;
	--button-text: #d6bbae;
	--button-text-hover: #d6bbae;
	--button-text-hover-secondary: #fbf1c7;
}
