@if $theme-pack == "popular" {
body[data-th-main="serpent"] {
	--themeName: "Everforest";
	--bg-300: #3d484d;
	--bg-400: #343f44;
	--bg: #2d353b;
	--bg-visiting: #d3c6aa;
	--bg-visiting-hover: #eadec2;
	--bg-editing: #a0d2d4;
	--bg-editing-hover: #a6fffc;
	--base-text: #d3c6aa;
	--base-text-hover: #eadec2;
	--base-text-faded: #d3c6aa7a;
	--base-link: #7fbbb3;
	--base-link-hover: #9ad2ca;
	--header-link: #d3c6aa;
	--header-link-hover: #eadec2;
	--content-link:#7fbbb3;
	--content-link-hover:#9ad2ca;
	--header-link-visiting: #2d353b;
	--header-link-editing: #343f44;
	--header-link-editing-hover: #2d353b;
	--nav-hover-top-color:#d3c6aa;
	--nav-hover-bottom-color: #d3c6aa;
	--bg-image: #273823;
	--deleted-bg: #425047;
	--deleted-text: #748b7c;
	--blacklisted-bg: #543a48;
	--blacklisted-text: #7f596e;
	/*--bg-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
	--actions-fav-true:#e67e80;
	--flagged: #c26566;
	--elements-highlight: #a7c080;
	--mode-edit:#534738;
	--mode-add-fav:#36583a;
	--mode-remove-fav:#583636;
	--mode-blacklist:#171c22;
	--mode-download: #553658;
	--mode-fullscreen: #365857;
	--tag-cat-0:#9da9a0;
	--tag-cat-0-hover:#bbd6c2;
	--tag-cat-1:#c27c5d;
	--tag-cat-1-hover:#e69875;
	--tag-cat-2: #c0c0c0;
	--tag-cat-2-hover: #71706e;
	--tag-cat-3:#b47e98;
	--tag-cat-3-hover:#d699b6;
	--tag-cat-4:#689d96;
	--tag-cat-4-hover:#7fbbb3;
	--tag-cat-5:#ba9e68;
	--tag-cat-5-hover:#dbbc7f;
	--tag-cat-6:#c26567;
	--tag-cat-6-hover:#e67e80;
	--tag-cat-7:#b3a78e;
	--tag-cat-7-hover:#d3c6aa;
	--tag-cat-8: #8ba269;
	--tag-cat-8-hover: #a7c080;
	--user-member: var(--base-text);
	--user-member-hover: var(--base-text-hover);
	--user-privileged: #83c092;
	--user-privileged-hover: #83c092;
	--user-contributor: #83c092;
	--user-contributor-hover: #83c092;
	--user-admin:#c27c5d;
	--user-admin-hover: #e69875;
	--user-moderator:#689d96;
	--user-moderator-hover: #7fbbb3;
	--user-former-staff: #b3a78e;
	--user-former-staff-hover: #d3c6aa;
	--user-janitor: #689d96;
	--user-janitor-hover: #7fbbb3;
	--user-banned: #c26567;
	--user-banned-hover: #e67e80;
	--favorite-button: #8ba269;
	--favorite-button-hover: #a7c080;
	--remove-favorite: #c26567;
	--remove-favorite-hover: #e67e80;
	--warn-button: #c37d5e;
	--warn-button-hover: #e69875;
	--button-color: #253823;
	--button-color-hover: #2f462c;
	--button-text: #c3ccd4;
	--button-text-hover: #eadec2;
	--button-text-hover-secondary: #eadec2;
	--true: thin;
	scrollbar-width: var(--thin-scrollbar);
}
}
