body[data-th-main="bloodlust"] {
	--themeName: "Sonokai - Shusia";
	--bg-300: #37343a;
	--bg-400: #2d2a2e;
	--bg: #211f21;
	--bg-visiting: #e3e1e4;
	--bg-visiting-hover:#fafafb;
	--bg-editing: #be4343;
	--bg-editing-hover: #c62929;
	--base-text: #e3e1e4;
	--base-text-hover: #fafafb;
	--base-text-faded: #e1e1e17a;
	--base-link: #7accd7;
	--base-link-hover: #78dce8;
	--header-link: #e3e1e4;
	--header-link-hover: #fafafb;
	--content-link:#61bac5;
	--content-link-hover:#78dce8;
	--header-link-visiting: #382323;
	--header-link-editing: #462c2c;
	--header-link-editing-hover: #382323;
	--nav-hover-top-color:#fafafb;
	--nav-hover-bottom-color: #fafafb;
	--bg-image: #2f2f2f;
	--deleted-bg: #1a181a;
	--deleted-text: #615a61;
	--blacklisted-bg: #55393d;
	--blacklisted-text: #906369;
	/*--bg-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
	--actions-fav-true:#ff6188;
	--flagged: #933c51;
	--elements-highlight: #ff6188;
	--mode-edit:#534738;
	--mode-add-fav:#36583a;
	--mode-remove-fav:#583636;
	--mode-blacklist:#000;
	--mode-download: #553658;
	--mode-fullscreen: #365857;
	--tag-cat-1:#63acb6;
	--tag-cat-1-hover:#7accd7;
	--tag-cat-2:#cb764d;
	--tag-cat-2-hover:#ef9062;
	--tag-cat-3:#61bac5;
	--tag-cat-3-hover:#78dce8;
	--tag-cat-4:#5fbb8b;
	--tag-cat-4-hover:#76dca2;
	--tag-cat-5:#c2a54e;
	--tag-cat-5-hover:#e5c463;
	--tag-cat-6:#8e81cd;
	--tag-cat-6-hover:#ab9df2;
	--tag-cat-7:#e3e1e4;
	--tag-cat-7-hover:#fcfcfc;
	--tag-cat-8: #8dbb5f;
	--tag-cat-8-hover: #a9dc76;
	--user-member: var(--base-text);
	--user-member-hover: var(--base-text-hover);
	--user-privileged: #a9dc76;
	--user-privileged-hover: #b8e986;
	--user-contributor: #a9dc76;
	--user-contributor-hover: #b8e986;
	--user-admin:#ef9062;
	--user-admin-hover: #ffa579;
	--user-moderator:#78dce8;
	--user-moderator-hover: #96f1fc;
	--user-former-staff: #78e8ae;
	--user-former-staff-hover: #96ffc9;
	--user-janitor: #78dce8;
	--user-janitor-hover: #96f1fc;
	--user-banned: #ff6188;
	--user-banned-hover: #ff7798;
	--favorite-button: #84ae5a;
	--favorite-button-hover: #9ecd6f;
	--remove-favorite: #d2496b;
	--remove-favorite-hover: #f85e84;
	--warn-button: #cb764d;
	--warn-button-hover: #ef9062;
	--button-color: #232e38;
	--button-color-hover: #2c3946;
	--button-text: #c3ccd4;
	--button-text-hover: #c3ccd4;
	--button-text-hover-secondary: #fafafb;
}
