body {
	--themeName: "Nord";
	--thin-scrollbar: var(--true);
	--main-page-background: url(https://static1.e621.net/data/42/c6/42c6450e4cb046e6b23f9f1a19957e98.png) !important;
	--artist-credit: "Background by Zackary911";
	--main-font: Segoe UI, Arial;
	--bg-300: #434c5e;
	--bg-400: #3b4252;
	--bg: #2e3440;
	--bg-visiting: #e5e9f0;
	--bg-visiting-transition: 100ms;
	--bg-editing-transition: 100ms;
	--bg-visiting-hover: #eceff4;
	--bg-editing: #a0d2d4;
	--bg-editing-hover: #a6fffc;
	--base-text: #e5e9f0;
	--base-text-hover: #eceff4;
	--base-text-faded: #e5e9f07a;
	--base-link: #88c0d0;
	--base-link-hover: #8cdaf1;
	--header-link: #d8dee9;
	--header-link-hover: #eceff4;
	--content-link:#a3be8c;
	--content-link-hover:#b6df92;
	--header-link-transition: 100ms;
	--header-link-editing-transition:100ms;
	--header-link-visiting: #2e3440;
	--header-link-editing: #393f4c;
	--header-link-editing-hover: #4c5363;
	--nav-hover-top-color:#e5e9f0;
	--nav-hover-bottom-color: #e5e9f0;
	--bg-image: #4c5363;
	--deleted-bg: #2e333f;
	--deleted-text: #4b5669;
	--blacklisted-bg: #5e434c;
	--blacklisted-text: #b0667f;
	/*--bg-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
	--actions-fav-true:#bf616a;
	--flagged: #bf616a;
	--elements-highlight: #8fbcbb;
	--mode-edit:#534738;
	--mode-add-fav:#36583a;
	--mode-remove-fav:#583636;
	--mode-blacklist:#171c22;
	--mode-download: #553658;
	--mode-fullscreen: #365857;
	--tag-cat-1:#88c0d0;
	--tag-cat-1-hover:#8ad4e9;
	--tag-cat-2:#d08770;
	--tag-cat-2-hover:#f0a087;
	--tag-cat-3:#b48ead;
	--tag-cat-3-hover:#e4a4d9;
	--tag-cat-4:#8cbe94;
	--tag-cat-4-hover:#a8e5b5;
	--tag-cat-5:#ebcb8b;
	--tag-cat-5-hover:#f9dda4;
	--tag-cat-6:#bf616a;
	--tag-cat-6-hover:#e05d69;
	--tag-cat-7:#d8dee9;
	--tag-cat-7-hover:#ecf0f7;
	--tag-cat-8: #a3be8c;
	--tag-cat-8-hover: #b1d791;
	--user-member: var(--base-text);
	--user-member-hover: var(--base-text-hover);
	--user-privileged: #93c190;
	--user-privileged-hover: #b0e7ad;
	--user-contributor: #93c190;
	--user-contributor-hover: #b0e7ad;
	--user-admin:#cc946d;
	--user-admin-hover: #eeae82;
	--user-moderator:#7dafd8;
	--user-moderator-hover: #8fc8f7;
	--user-former-staff: #6cd5aa;
	--user-former-staff-hover: #7ff7c6;
	--user-janitor: #7dafd8;
	--user-janitor-hover: #8fc8f7;
	--user-banned: #bf616a;
	--user-banned-hover: #e05d69;
	--favorite-button: #a3be8c;
	--favorite-button-hover: #b1d791;
	--remove-favorite: #bf616a;
	--remove-favorite-hover: #e05d69;
	--warn-button: #d08770;
	--warn-button-hover: #dc9b86;
	--button-color: #232e38;
	--button-color-hover: #2c3946;
	--button-text: #c3ccd4;
	--button-text-hover: #c3ccd4;
	--button-text-hover-secondary: #eceff4;
	--true: thin;
	scrollbar-width: var(--thin-scrollbar);
	scrollbar-color: #3c3c3c #222;
}
