@if $theme-pack == "muted" {
body[data-th-main="pony"] {
	--themeName: "Pony";
	--bg-300: #604a67;
	--bg-400: #55425a;
	--bg: #4b3a50;
	--bg-visiting: #ffe4e9;
	--bg-visiting-hover:#f6eaec;
	--bg-editing: #d4a0ab;
	--bg-editing-hover: #ffa6c2;
	--base-text: #d4c3cc;
	--base-text-hover: #d3ddd3;
	--base-text-faded: #d4c3cc7a;
	--base-link: #b485cd;
	--base-link-hover: #e9a5fe;
	--header-link: #d4c3cb;
	--header-link-hover: #d3ddd3;
	--content-link:#7bbda5;
	--content-link-hover:#8dd9bd;
	--header-link-visiting: #38232b;
	--header-link-editing: #462c34;
	--header-link-editing-hover: #38232b;
	--nav-hover-top-color:#d4c3cd;
	--nav-hover-bottom-color: #d4c3cb;
	--bg-image: #38232e;
	--deleted-bg: #232323;
	--deleted-text: #d2d2d2;
	--blacklisted-bg: #6e4848;
	--blacklisted-text: #d2d2d2;
	/*--bg-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
	--actions-fav-true:#a87abe;
	--flagged: #6e4854;
	--elements-highlight: #7bbda5;
	--mode-edit:#534738;
	--mode-add-fav:#36583a;
	--mode-remove-fav:#583636;
	--mode-blacklist:#171c22;
	--mode-download: #553658;
	--mode-fullscreen: #365857;
	--tag-cat-0:#c590b6;
	--tag-cat-0-hover:#e6a8cf;
	--tag-cat-1:#bd987e;
	--tag-cat-1-hover:#f2c3a2;
	--tag-cat-2: #c0c0c0;
	--tag-cat-2-hover: #71706e;
	--tag-cat-3:#7abebe;
	--tag-cat-3-hover:#9ff7ee;
	--tag-cat-4:#7bbe92;
	--tag-cat-4-hover:#99eab5;
	--tag-cat-5:#c5c387;
	--tag-cat-5-hover:#efeda4;
	--tag-cat-6:#be7d7d;
	--tag-cat-6-hover:#f6a2a2;
	--tag-cat-7:#d8e1e9;
	--tag-cat-7-hover:#eef7ff;
	--tag-cat-8: #60a979;
	--tag-cat-8-hover: #93efb3;
	--user-member: var(--base-text);
	--user-member-hover: var(--base-text-hover);
	--user-privileged: #93c190;
	--user-privileged-hover: #b0e7ad;
	--user-contributor: #93c190;
	--user-contributor: #b0e7ad;
	--user-admin:#cc946d;
	--user-admin-hover: #eeae82;
	--user-moderator:#7dafd8;
	--user-moderator-hover: #8fc8f7;
	--user-former-staff: #6cd5aa;
	--user-former-staff-hover: #7ff7c6;
	--user-janitor: #7dafd8;
	--user-janitor-hover: #8fc8f7;
	--user-banned: #d46969;
	--user-banned-hover: #ef7676;
	--favorite-button: #538163;
	--favorite-button-hover: #6dab83;
	--remove-favorite: #936060;
	--remove-favorite-hover: #bf7e7e;
	--warn-button: #a07658;
	--warn-button-hover: #e5aa80;
	--button-color: #232e38;
	--button-color-hover: #2c3946;
	--button-text: #c3ccd4;
	--button-text-hover: #c3ccd4;
	--button-text-hover-secondary: #fff;
}
}
