body[data-th-main="hotdog"] {
	--themeName: "Hot Coffee";
	--bg-300: #3c3836;
	--bg-400: #323232;
	--bg: #282828;
	--bg-visiting: #f0cfc0;
	--bg-visiting-hover:#ffdccd;
	--bg-editing: #a1a0d4;
	--bg-editing-hover: #a6beff;
	--base-text: #d6bbae;
	--base-text-hover: #f0cfc0;
	--base-text-faded: #d6bbae7a;
	--base-link: #f7e7df;
	--base-link-hover: #fffaf8;
	--header-link: #d6bbae;
	--header-link-hover: #f0cfc0;
	--content-link: #75a6b8;
	--content-link-hover: #8ac3da;
	--header-link-visiting: #474341;
	--header-link-editing: #474341;
	--header-link-editing-hover: #615c59;
	--nav-hover-top-color:#d6bbae;
	--nav-hover-bottom-color: #d6bbae;
	--bg-image: #38232e;
	--deleted-bg: #232323;
	--deleted-text: #d2d2d2;
	--blacklisted-bg: #6e4848;
	--blacklisted-text: #d2d2d2;
	/*--bg-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
	--actions-fav-true:#a87abe;
	--flagged: #6e4848;
	--elements-highlight: #7bbcbd;
	--mode-edit:#534738;
	--mode-add-fav:#36583a;
	--mode-remove-fav:#583636;
	--mode-blacklist:#171c22;
	--mode-download: #553658;
	--mode-fullscreen: #365857;
	--tag-cat-0:#bdb1ac;
	--tag-cat-0-hover:#d6bbae;
	--tag-cat-1:#bb8864;
	--tag-cat-1-hover:#e7a87d;
	--tag-cat-2: #c0c0c0;
	--tag-cat-2-hover: #71706e;
	--tag-cat-3:#7abebe;
	--tag-cat-3-hover:#9ff7ee;
	--tag-cat-4:#7bbe92;
	--tag-cat-4-hover:#99eab5;
	--tag-cat-5:#c5c387;
	--tag-cat-5-hover:#efeda4;
	--tag-cat-6:#be7d7d;
	--tag-cat-6-hover:#f6a2a2;
	--tag-cat-7:#d8e1e9;
	--tag-cat-7-hover:#eef7ff;
	--tag-cat-8: #60a979;
	--tag-cat-8-hover: #93efb3;
	--user-member: var(--base-text);
	--user-member-hover: var(--base-text-hover);
	--user-privileged: #93c190;
	--user-privileged-hover: #b0e7ad;
	--user-contributor: #93c190;
	--user-contributor-hover: #b0e7ad;
	--user-admin:#cc946d;
	--user-admin-hover: #eeae82;
	--user-moderator:#7dafd8;
	--user-moderator-hover: #8fc8f7;
	--user-former-staff: #6cd5aa;
	--user-former-staff-hover: #7ff7c6;
	--user-janitor: #7dafd8;
	--user-janitor-hover: #8fc8f7;
	--user-banned: #d46969;
	--user-banned-hover: #ef7676;
	--favorite-button: #538163;
	--favorite-button-hover: #6dab83;
	--remove-favorite: #936060;
	--remove-favorite-hover: #bf7e7e;
	--warn-button: #a07658;
	--warn-button-hover: #e5aa80;
	--button-color: #232e38;
	--button-color-hover: #2c3946;
	--button-text: #d6bbae;
	--button-text-hover: #d6bbae;
	--button-text-hover-secondary: #f0cfc0;
}
