body[data-th-main="serpent"] {
	--themeName: "Forest";
	--bg-300: #3e5341;
	--bg-400: #354535;
	--bg: #2f382e;
	--bg-visiting: #dadada;
	--bg-visiting-hover: #fff;
	--bg-editing: #a0d2d4;
	--bg-editing-hover: #a6fffc;
	--base-text: #c3d4c6;
	--base-text-hover: #d3ddd3;
	--base-text-faded: #c3ccd47a;
	--base-link: #bdbd7b;
	--base-link-hover: #fafea5;
	--header-link: #c3ccd4;
	--header-link-hover: #d3ddd3;
	--content-link:#dcdc8f;
	--content-link-hover:#fafea5;
	--header-link-visiting: #232e38;
	--header-link-editing: #2c3946;
	--header-link-editing-hover: #232e38;
	--nav-hover-top-color:#c3ccd4;
	--nav-hover-bottom-color: #c3ccd4;
	--bg-image: #273823;
	--deleted-bg: #232323;
	--deleted-text: #d2d2d2;
	--blacklisted-bg: #6e4848;
	--blacklisted-text: #d2d2d2;
	/*--bg-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
	--actions-fav-true:#be7a7a;
	--flagged: #6e4848;
	--elements-highlight: #bdab7b;
	--mode-edit:#534738;
	--mode-add-fav:#36583a;
	--mode-remove-fav:#583636;
	--mode-blacklist:#171c22;
	--mode-download: #553658;
	--mode-fullscreen: #365857;
	--tag-cat-0:#7cbdab;
	--tag-cat-0-hover:#96e5cc;
	--tag-cat-1:#bd987e;
	--tag-cat-1-hover:#f2c3a2;
	--tag-cat-2: #c0c0c0;
	--tag-cat-2-hover: #71706e;
	--tag-cat-3:#be7aa1;
	--tag-cat-3-hover:#f79fd1;
	--tag-cat-4:#7bbe92;
	--tag-cat-4-hover:#99eab5;
	--tag-cat-5:#c5c387;
	--tag-cat-5-hover:#efeda4;
	--tag-cat-6:#be7d7d;
	--tag-cat-6-hover:#f6a2a2;
	--tag-cat-7:#d8e1e9;
	--tag-cat-7-hover:#eef7ff;
	--tag-cat-8: #60a979;
	--tag-cat-8-hover: #93efb3;
	--user-member: var(--base-text);
	--user-member-hover: var(--base-text-hover);
	--user-privileged: #93c190;
	--user-privileged-hover: #b0e7ad;
	--user-contributor: #93c190;
	--user-contributor-hover: #b0e7ad;
	--user-admin:#cc946d;
	--user-admin-hover: #eeae82;
	--user-moderator:#7dafd8;
	--user-moderator-hover: #8fc8f7;
	--user-former-staff: #6cd5aa;
	--user-former-staff-hover: #7ff7c6;
	--user-janitor: #7dafd8;
	--user-janitor-hover: #8fc8f7;
	--user-banned: #d46969;
	--user-banned-hover: #ef7676;
	--favorite-button: #538163;
	--favorite-button-hover: #6dab83;
	--remove-favorite: #936060;
	--remove-favorite-hover: #bf7e7e;
	--warn-button: #a07658;
	--warn-button-hover: #e5aa80;
	--button-color: #253823;
	--button-color-hover: #2f462c;
	--button-text: #c3ccd4;
	--button-text-hover: #c3ccd4;
	--button-text-hover-secondary: #fff;
	--true: thin;
	scrollbar-width: var(--thin-scrollbar);
}
