body[data-th-main="bloodlust"] {
	--themeName: "Discord-esque";
	--bg-300: #36393e;
	--bg-400: #282b30;
	--bg: #1e2124;
	--bg-visiting: #f3f3f3;
	--bg-visiting-hover:#f0f0f0;
	--bg-editing: #be4343;
	--bg-editing-hover: #c62929;
	--base-text: #e1e1e1;
	--base-text-hover: #e3e3e3;
	--base-text-faded: #e1e1e17a;
	--base-link: #c39cc5;
	--base-link-hover: #ffc9fe;
	--header-link: #dedede;
	--header-link-hover: #e3e3e3;
	--content-link:#bd7b7b;
	--content-link-hover:#e49393;
	--header-link-visiting: #382323;
	--header-link-editing: #462c2c;
	--header-link-editing-hover: #382323;
	--nav-hover-top-color:#d1d1d1;
	--nav-hover-bottom-color: #d1d1d1;
	--bg-image: #2f2f2f;
	--deleted-bg: #232323;
	--deleted-text: #d2d2d2;
	--blacklisted-bg: #6e4848;
	--blacklisted-text: #d2d2d2;
	/*--bg-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
	--actions-fav-true:#b4be7a;
	--flagged: #6e4848;
	--elements-highlight: #ff79c6;
	--mode-edit:#534738;
	--mode-add-fav:#36583a;
	--mode-remove-fav:#583636;
	--mode-blacklist:#000;
	--mode-download: #553658;
	--mode-fullscreen: #365857;
	--tag-cat-1:#c17777;
	--tag-cat-1-hover:#d79090;
	--tag-cat-2:#be7f53;
	--tag-cat-2-hover:#f8a66d;
	--tag-cat-3:#51c2c2;
	--tag-cat-3-hover:#6ffbec;
	--tag-cat-4:#50be76;
	--tag-cat-4-hover:#60f593;
	--tag-cat-5:#c9c659;
	--tag-cat-5-hover:#f5f26b;
	--tag-cat-6:#bb5d9e;
	--tag-cat-6-hover:#f657c3;
	--tag-cat-7:#dee1e4;
	--tag-cat-7-hover:#eef4f8;
	--tag-cat-8: #60a979;
	--tag-cat-8-hover: #93efb3;
	--user-member: var(--base-text);
	--user-member-hover: var(--base-text-hover);
	--user-privileged: #93c190;
	--user-privileged-hover: #b0e7ad;
	--user-contributor: #93c190;
	--user-contributor-hover: #b0e7ad;
	--user-admin:#cc946d;
	--user-admin-hover: #eeae82;
	--user-moderator:#7dafd8;
	--user-moderator-hover: #8fc8f7;
	--user-former-staff: #6cd5aa;
	--user-former-staff-hover: #7ff7c6;
	--user-janitor: #7dafd8;
	--user-janitor-hover: #8fc8f7;
	--user-banned: #d46969;
	--user-banned-hover: #ef7676;
	--favorite-button: #47895f;
	--favorite-button-hover: #71d594;
	--remove-favorite: #a95454;
	--remove-favorite-hover: #e07373;
	--warn-button: #a07658;
	--warn-button-hover: #e5aa80;
	--button-color: #232e38;
	--button-color-hover: #2c3946;
	--button-text: #c3ccd4;
	--button-text-hover: #c3ccd4;
	--button-text-hover-secondary: #fff;
}
