body {
	aside#sidebar div#re621-search {
		transition: 200ms;
		border-radius: 0em;
		width: 15rem;
		overflow: hidden;

		.re621-search-sticky {
			background-color: var(--bg);
			overflow: hidden;
		}
	}
}
