body[data-th-main="pony"] {
	--themeName:"Pony";
	--bg-300: #2f175c;
	--bg-400: #250d51;
	--bg: #190836;
	--bg-visiting: rgba(200,200,200,1);
	--bg-visiting-transition: 100ms;
	--bg-editing-transition: 100ms;
	--bg-visiting-hover:rgba(255,255,255,1);
	--bg-editing: #a0d2d4;
	--bg-editing-hover: #a6fffc;
	--base-text: #fff;
	--base-text-hover: #fff;
	--base-text-faded: #ffffff7a;
	--base-link: #b4c7d9;
	--base-link-hover: #e9f2fa;
	--header-link: #c3ccd4;
	--header-link-hover: #d3ddd3;
	--content-link:#ff5eff;
	--content-link-hover:#ff8dff;
	--header-link-transition: 100ms;
	--header-link-editing-transition:100ms;
	--header-link-visiting: #232e38;
	--header-link-editing: #2c3946;
	--header-link-editing-hover: #232e38;
	--nav-hover-top-color:#c3ccd4;
	--nav-hover-bottom-color: #c3ccd4;
	--bg-image: #232e38;
	--deleted-bg: #232323;
	--deleted-text: #d2d2d2;
	--blacklisted-bg: #646464;
	--blacklisted-text: #d2d2d2;
	/*--bg-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
	--actions-fav-true:#be7aa1;
	--flagged: maroon;
	--elements-highlight: #ff5eff;
	--mode-edit: #713a20;
	--mode-add-fav: #006400;
	--mode-remove-fav: maroon;
	--mode-blacklist:#242424;
	--mode-download: #4d0054;
	--mode-fullscreen: #194f4d;
	--tag-cat-1:#b4c7d9;
	--tag-cat-1-hover:#e9f2fa;
	--tag-cat-2:#f2ac08;
	--tag-cat-2-hover:#fbd67f;
	--tag-cat-3:#d0d;
	--tag-cat-3-hover:#ff5eff;
	--tag-cat-4:#0a0;
	--tag-cat-4-hover:#2bff2b;
	--tag-cat-5:#ed5d1f;
	--tag-cat-5-hover:#f6b295;
	--tag-cat-6:#ff3d3d;
	--tag-cat-6-hover:#ffbdbd;
	--tag-cat-7:#fff;
	--tag-cat-7-hover:#666;
	--tag-cat-8: #228822;
	--tag-cat-8-hover: #5fdb5f;
	--user-member: var(--base-text);
	--user-member-hover: var(--base-text-hover);
	--user-privileged: #4afc4a;
	--user-privileged-hover: #75fd75;
	--user-contributor: #4afc4a;
	--user-contributor-hover: #75fd75;
	--user-admin:#e69500;
	--user-admin-hover: #9d6703;
	--user-moderator:#d82828;
	--user-moderator-hover: #cc5151;
	--user-former-staff: #3fd6ba;
	--user-former-staff-hover: #5eebd1;
	--user-janitor: #d82828;
	--user-janitor-hover: #cc5151;
	--user-banned: #a41313;
	--user-banned-hover: #df3e3e;
	--favorite-button: #006400;
	--favorite-button-hover: #004b00;
	--remove-favorite: maroon;
	--remove-favorite-hover: #670000;
	--warn-button: sienna;
	--warn-button-hover: #8c4827;
	--button-color: #232e38;
	--button-color-hover: #2c3946;
	--button-text: #fff;
	--button-text-hover: #fff;
	--button-text-hover-secondary: #fff;
}
