.comment-post-grid {
	background-color: var(--bg) !important;
	transition: 200ms;

	.styled-dtext .blacklisted {
		max-width: 150px !important;
	}

	.content {
		margin: .5rem;
		color: var(--base-text) !important;

		blockquote blockquote {
			margin: .5rem;
		}

		pre {
			background-color: var(--bg-400) !important;
		}

		img {
			border-radius: 4px;
		}

		.forum-post-votes-list {
			margin-top: 1.5em !important;
		}
	}
}

.post-thumbnail[data-status="deleted"] {
	margin: .25rem;

	a {
		position: relative;
		display: flex;
		align-items: center !important;
		justify-content: center !important;
		border-radius: 4px;
		overflow: hidden;
	}

	a::before {
		content: "Deleted";
		background-color: var(--deleted-bg);
		color: var(--deleted-text);
		font-weight: bold;
		position: absolute;
		display: flex;
		height: 100%;
		width: 100%;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
	}
}
