body {
	background-color: var(--bg-300) !important;
	background-image: none !important;
	color: var(--base-text) !important;
	font-family: var(--main-font);
	padding: 0;
	margin: 0;
	max-width: 100vw;
}
